<a href="https://colab.research.google.com/github/handsome1201/Big_Data/blob/main/ML_07_201802156_%EC%A0%95%ED%98%84%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def convert(imgf,labelf,outf,n):
  f = open(imgf,"rb")
  o = open(outf,"w")
  l = open(labelf,"rb")

  f.read(16)
  l.read(8)
  images = []

  for i in range(n):
    image = [ord(l.read(1))]
    for j in range(28*28):
      image.append(ord(f.read(1)))
    images.append(image)

  for image in images:
    o.write(",".join(str(pix) for pix in image)+"\n")
  
  f.close()
  o.close()
  l.close()

In [2]:
convert("/content/drive/MyDrive/기계학습/train-images.idx3-ubyte","/content/drive/MyDrive/기계학습/train-labels.idx1-ubyte","mnist_train.csv",60000)
convert("/content/drive/MyDrive/기계학습/t10k-images.idx3-ubyte","/content/drive/MyDrive/기계학습/t10k-labels.idx1-ubyte","mnist_test.csv",10000)

In [3]:
import pandas as pd
import numpy as np

In [4]:
train_df = pd.read_csv("mnist_train.csv")
test_df = pd.read_csv("mnist_test.csv")

In [5]:
train_df.to_csv("mnist_train_final.csv",index=False)
test_df.to_csv("mnist_test_final.csv",index=False)

In [6]:
train_df

,5,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.608,0.609,0.610,0.611,0.612,0.613,0.614,0.615,0.616,0.617
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59994,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59995,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59997,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59998,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
train_a=train_df[(train_df['5']==1) | (train_df['5']==4) | (train_df['5']==6)]

In [8]:
train_a

,5,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.608,0.609,0.610,0.611,0.612,0.613,0.614,0.615,0.616,0.617
1,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59981,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59983,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59985,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59993,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59997,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
from sklearn.model_selection import train_test_split

features = train_a.iloc[:, 1:]
labels = train_a.iloc[:, 0]

train_feats, test_feats, train_labels, test_labels = train_test_split(features, labels, test_size=0.2)

In [10]:
from sklearn.svm import SVC

classifier=SVC()
parameters = {
    "kernel" : ["rbf"],
    "gamma": [0.1, 1, 5, 10],
    "C": [0.1, 1, 5, 10]
}

In [11]:
from sklearn.model_selection import GridSearchCV

Gscv_new = GridSearchCV(classifier,param_grid=parameters,scoring="accuracy")
Gscv_new.fit(train_feats,train_labels)

GridSearchCV(estimator=SVC(),
             param_grid={'C': [0.1, 1, 5, 10], 'gamma': [0.1, 1, 5, 10],
                         'kernel': ['rbf']},
             scoring='accuracy')

In [12]:
print("best parameters: ",Gscv_new.best_params_)
print("best score: ",Gscv_new.best_score_)

best parameters:  {'C': 0.1, 'gamma': 0.1, 'kernel': 'rbf'}
best score:  0.3634213925171372

In [13]:
classifier = Gscv_new.best_estimator_
print("test data에 대한 모델의 성능: ",classifier.score(test_feats,test_labels))

test data에 대한 모델의 성능:  0.3682788435557957